<div class="page-layout blank p-24">
  <h2>{{config.moduleName}} {{onDetail?'Detail':'Create'}}</h2>
  <div class="save-button">
    <button mat-button="" mat-raised-button="" [disabled]="!frm?.valid" color="primary" (click)="save()">Save
    </button>
    <button mat-button="" (click)="cancel()">Cancel</button>
  </div>
</div>
<div class="page-container">
  <form name="detailForm" [formGroup]="frm" novalidate (submit)="save()">
    <ng-template ngFor let-col [ngForOf]="columns">
      <mat-form-field *ngIf="col[1].type == 'date'">
        <input matInput [placeholder]="col[1].displayName || col[0]" [formControlName]="col[0]"
               [matDatepicker]="myDatepicker">
        <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
        <mat-datepicker #myDatepicker></mat-datepicker>
        <mat-error *ngIf="formErrors[col[0]]?.required">
          {{col[1].displayName || col[0]}} is required
        </mat-error>
      </mat-form-field>
      <div class="form-inline" *ngIf="col[1].type == 'photo'">
        <div class="label-text">{{col[1].displayName || col[0]}}</div>
        <div class="image">
          <image-uploader  [formControlName]="col[0]"></image-uploader>
        </div>
      </div>
      <mat-form-field *ngIf="col[1].type == 'dropdown'">
        <mat-select [placeholder]="col[1].displayName || col[0]" [formControlName]="col[0]">
          <mat-option value="">Unknown</mat-option>
          <mat-option *ngFor="let op of col[1].sourceData" [value]="op.value">{{op.text}}</mat-option>
        </mat-select>
        <mat-error *ngIf="formErrors[col[0]]?.required">
          {{col[1].displayName || col[0]}} is required
        </mat-error>
      </mat-form-field>
      <rating [formControlName]="col[0]"
              [max]="5"
              *ngIf="col[1].type == 'rating'"
              fullIcon="★"
              emptyIcon="☆"
              [readonly]="false"
              [disabled]="false"
              [float]="true"></rating>
      <mat-form-field *ngIf="col[1].type === 'text' || !col[1].type">
        <input matInput [placeholder]="col[1].displayName || col[0]" [formControlName]="col[0]">
        <mat-error *ngIf="formErrors[col[0]]?.required">
          {{col[1].displayName || col[0]}} is required
        </mat-error>
      </mat-form-field>
    </ng-template>

  </form>
</div>
