:host {
  position: relative;
  padding-top: 100%;
  &:before {
    display: block;
    content: "";
    width: 100%;
    //padding-top: 100%;
  }
  &:hover {
    .image-edit {
      display: flex;
    }
  }
  .image-edit {
    position: absolute;
    display: none;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: #fff;
    opacity: 0.7;
    cursor: pointer;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    border-radius: 50%;
    input {
      display: none;
    }
  }
  img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    min-height: 100%;
    height: 100%;
    width: 100%;
    min-width: 100%;
  }
}
