<div class="page-layout blank p-24">
  <h2>Users</h2>
</div>
<div class="page-content">
  <div class="table-container mat-elevation-z8">
    <table class="mat-table">
      <thead>
      <tr class="mat-header-row">
        <th class="mat-cell mat-header-cell"></th>
        <th class="mat-cell mat-header-cell">Name</th>
        <th class="mat-cell mat-header-cell">Location</th>
        <th class="mat-cell mat-header-cell">Created Date</th>
        <th class="mat-cell mat-header-cell"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let row of users" class="mat-row">
        <td class="mat-cell text-center">
          <div class="image-cell">
            <img [src]="row.profilePictureUrl || '/assets/images/noavatar.jpg'" alt="">
          </div>
        </td>
        <td class="mat-cell">
          <div class="name">
            <b *ngIf="row.firstName || row.lastName">{{row.firstName}} {{row.lastName}}</b>
            <b *ngIf="!(row.firstName || row.lastName)">{{row.email}}</b>
            <a [href]="'mailto:'+row.email" *ngIf="row.email" target="_blank">
              <img src="/assets/images/mail.png" alt="">
            </a>
          </div>
          <div class="bio">
            {{row.occupation}}
          </div>
          <div class="contacts">
            <div class="email" *ngIf="row.email">{{row.email}}</div>
            <a [href]="row.facebookLink" *ngIf="row.facebookLink" target="_blank">
              <img src="/assets/images/facebook-icon.png" alt="">
            </a>
          </div>
          <div class="mode-status">
            {{row.moderationStatus}}
          </div>
        </td>
        <td class="mat-cell text-center">
          <div><b>Lat: </b>{{row.latitude}}</div>
          <div><b>Lon: </b>{{row.longitude}}</div>
        </td>
        <td class="mat-cell text-center">{{row.createdAt}}</td>
        <td class="text-center button-action">
          <button [routerLink]="['/auth', 'event',row.Id]" mat-button color="primary" mat-raised-button="">
            Edit
          </button>
          <button mat-button color="warn" mat-raised-button="" (click)="confirmRemoveRow(row)">
            Delete
          </button>
        </td>
      </tr>
      <tr *ngIf="!users?.length">
        <td colspan="5" class="text-center">No users</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
