:host {
  .table-container {
    margin-top: 10px;
    table {
      table-layout: fixed;
      width: 100%;
      border-collapse: collapse;
      th {
        line-height: 2.5;
        font-weight: bold !important;
      }
      .image-cell {
        display: flex;
        justify-content: center;
        padding: 10px 0;
        img {
          height: 80px;
          object-fit: cover;
          width: 80px;
          border-radius: 81px;
        }
      }
      .button-action {
        button {
          margin-top: 3px;
        }
      }
      .mat-cell {
        .name {
          img {
            width: 20px;
            height: 20px;
          }
        }
        .bio {
          font-size: 12px;
          font-style: italic;
          color: #777;
        }
        .contacts {
          img {
            cursor: pointer;
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }
}
