<div class="page-layout blank p-24">
  <h2>Users</h2>
</div>
<div class="page-content">
  <div class="table-container mat-elevation-z8">
    <table class="mat-table">
      <thead>
      <tr class="mat-header-row">
        <th class="mat-cell mat-header-cell">Preview</th>
        <th class="mat-cell mat-header-cell">Name</th>
        <th class="mat-cell mat-header-cell">Location</th>
        <th class="mat-cell mat-header-cell">Created Date</th>
        <th class="mat-cell mat-header-cell"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let row of users" class="mat-row">
        <td class="mat-cell text-center">
          <div class="image-cell">
            <img [src]="row.ImageUrl" alt="">
          </div>
        </td>
        <td class="mat-cell text-center">{{row.Title}}</td>
        <td class="mat-cell text-center">
          <div><b>Lat: </b>{{row.Latitude}}</div>
          <div><b>Lon: </b>{{row.Longitude}}</div>
        </td>
        <td class="mat-cell text-center">{{row.Date}}</td>
        <td class="text-center button-action">
          <button [routerLink]="['/auth', 'event',row.Id]" mat-button color="primary" mat-raised-button="">
            Edit
          </button>
          <button mat-button color="warn" mat-raised-button="" (click)="confirmRemoveRow(row)">
            Delete
          </button>
        </td>
      </tr>
      <tr *ngIf="!users?.length">
        <td colspan="5" class="text-center">No users</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
