<div class="page-layout blank p-24">
  <h2>Events Detail</h2>
</div>
<div class="page-container">

  <div class="event-data">
    <label class="image-url" [class.editable]="eventDetailForm.controls['ImageUrl'].value">
      <input type="file" ngFileSelect #file2 [options]="options" (uploadOutput)="onUploadOutput($event, file2)"
             [uploadInput]="uploadInput">
      <div class="image-uploader" *ngIf="!eventDetailForm.controls['ImageUrl'].value">
        <mat-icon>add_a_photo</mat-icon>
        Add Photo
      </div>
      <img [src]="eventDetailForm.controls['ImageUrl'].value" *ngIf="eventDetailForm.controls['ImageUrl'].value" alt="">
    </label>
    <div class="profile-info">
      <form name="eventDetailForm" [formGroup]="eventDetailForm" novalidate>
        <mat-form-field>
          <input matInput placeholder="Name" formControlName="Title">
          <mat-error *ngIf="eventDetailErrors.Title.required">
            Title is required
          </mat-error>
        </mat-form-field>
        <mat-form-field>
        <textarea matInput name="Description" formControlName="Description" rows="8"
                  placeholder="Description"></textarea>
          <mat-error *ngIf="eventDetailErrors.Description.required">
            Description is required
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input type="tel" matInput placeholder="Phone Number" formControlName="PhoneNumber">
          <mat-error *ngIf="eventDetailErrors.PhoneNumber.required">
            Phone Number is required
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input type="text" matInput placeholder="Address" formControlName="Address">
          <!--<mat-error *ngIf="eventDetailErrors.Address.required">-->
          <!--Address is required-->
          <!--</mat-error>-->
        </mat-form-field>
        <mat-form-field>
          <input type="url" matInput placeholder="Website" formControlName="Website">
          <!--<mat-error *ngIf="eventDetailErrors.Website.required">-->
          <!--Website is required-->
          <!--</mat-error>-->
        </mat-form-field>

        <mat-form-field>
          <input type="text" matInput placeholder="Opening Hours" formControlName="OpeningHours">
          <mat-error *ngIf="eventDetailErrors.OpeningHours.required">
            Opening Hours is required
          </mat-error>
        </mat-form-field>
      </form>
      <div class="map-location-viewer"
           leaflet
           [leafletCenter]="center"
           [leafletLayers]="layers"
           (leafletMapReady)="mapReady($event)"
           [leafletOptions]="options">
      </div>
    </div>
  </div>
  <div class="save-button">
    <button mat-button="" mat-raised-button="" [disabled]="!eventDetailForm.valid" color="primary" (click)="save()">Save
    </button>
    <button mat-button="" (click)="cancel()">Cancel</button>
  </div>
</div>
