:host /deep/ {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  input[readonly] {
    color: rgba(0, 0, 0, 0.87);
  }
  .hidden-item {
    display: none !important;
  }
  .input-placeholder {
    width: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 46px;
    .placeholder {
      color: #fff;
      position: absolute;
      display: flex;
      align-items: center;
      opacity: 0.27;
      pointer-events: none;
    }
    input {
      margin: 0 !important;
    }
    input:not(:placeholder-shown) {
      & + .placeholder {
        display: none;
      }
    }
  }
}

