:host /deep/ {
  max-height: 100%;
  display: block;
  .mat-dialog-content {
    padding: 0;
    flex-grow: 1;
    max-height: calc(80vh - 42px) !important;
    display: flex;
    flex-direction: column;
  }
  .close-button {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #a5a5a5;
    color: #000;
    display: flex;
    align-items: baseline;
    justify-content: center;
    border-radius: 50%;
    padding: 3px;
    top: -10px;
    right: -10px;
    cursor: pointer;
    &:hover {
      opacity: 0.9;
    }
    .mat-icon {
      font-size: 15px;
      width: 15px;
      height: 15px;
    }
  }
  .mat-dialog-title {
    letter-spacing: 1px;
    font-size: 1em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
    font-weight: bold;
    margin: 0;
    padding: 5px 10px;
  }
  .photo-image {
    width: 100%;
    max-width: 100%;
    height: 200px;
    min-height: 200px;
    display: flex;
    justify-content: center;
    img {
      height: 100%;
      min-width: 100%;
      object-fit: cover;
    }
    .no-photo {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #333;
      background: #f1f1f1;
    }
  }
  .company-name {
    font-size: 16px;
    text-align: center;
    line-height: 1.5;
    a {
      color: #000;
      font-weight: bold;
    }
  }
  .mat-icon {
    position: relative;
    top: 5px;
  }
  .tag-list {
    line-height: 2;
    display: block;
    padding: 5px;
    max-height: 10vh;
    overflow: auto;
    min-height: 32px;
    .label-tag {
      background: #ffe9c8;
      padding: 3px 10px;
      display: inline-block;
      margin-right: 8px;
      color: #222;
      letter-spacing: 0.5px;
      font-weight: 600;
      font-size: 9px;
      border-radius: 12px;
    }
  }
  mat-tab-group {
    margin-top: 10px;
    .mat-tab-label {
      height: 32px !important;
    }
    .mat-tab-body-wrapper {
      .mat-tab-body-content {
      }
    }
  }
  .content-info {
    padding: 10px 5px;
    .vote {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-right: 5px;
      .rating {
        display: flex;
        align-items: baseline;
        color: #ccc;
        font-size: 12px;
        .title-rating {
          position: relative;
          top: -1px;
        }
      }
    }
  }
  .photo-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 10px;
    .photo-item {
      margin: 10px 0;
    }
  }
  .no-photo-title {
    padding: 10px;
  }
}
