<div class="page-layout blank p-24">
  <h2>Users Detail</h2>
  <div class="save-button">
    <button mat-button="" mat-raised-button="" [disabled]="!frm.valid" color="primary" (click)="save()">Save
    </button>
    <button mat-button="" (click)="cancel()">Cancel</button>
  </div>
</div>
<form class="page-container" (submit)="save()" [formGroup]="frm">

  <div class="panel-container top-panel">
    <user-avatar [edit]="true" [(src)]="frm.controls['profilePictureUrl'].value"></user-avatar>
    <div class="form-item">
      <mat-form-field>
        <input type="text" matInput="" placeholder="First Name" formControlName="firstName">
        <mat-error *ngIf="formErrors.firstName.required">
          First Name is required
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="text" matInput="" placeholder="Last Name" formControlName="lastName">
        <mat-error *ngIf="formErrors.lastName.required">
          Last Name is required
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="text" matInput="" placeholder="Email Name" formControlName="email" readonly>
        <mat-error *ngIf="formErrors.email.required">
          Email is required
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="panel-container info-panel">
    <div class="basic-info">
      <mat-form-field>
        <input matInput placeholder="Date Of Birth" readonly formControlName="dob" [matDatepicker]="myDatepicker">
        <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
        <mat-datepicker #myDatepicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Gender" formControlName="gender">
          <mat-option value="">Unknown</mat-option>
          <mat-option [value]="0">Male</mat-option>
          <mat-option [value]="1">Female</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input type="text" matInput="" placeholder="Occupation" formControlName="occupation">
      </mat-form-field>
      <mat-form-field>
        <input type="text" matInput="" placeholder="Address" formControlName="address">
      </mat-form-field>
      <mat-form-field>
        <textarea type="text" matInput="" rows="4" placeholder="Biography" formControlName="bio"></textarea>
      </mat-form-field>
      <tag-input placeholder="Add Interesting" secondaryPlaceholder ="Interesting" formControlName="outsideInterestsAsString" [editable]="true"></tag-input>
    </div>
    <div class="map-location-viewer"
         leaflet
         [leafletCenter]="center"
         [leafletLayers]="layers"
         (leafletMapReady)="mapReady($event)"
         [leafletOptions]="options">
    </div>
  </div>
</form>
