:host {
  .page-layout {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    min-height: 50px;
    max-height: 50px;
    .save-button {
      margin-top: 10px;
      text-align: right;
    }
  }
  .page-container {
    display: flex;
    width: calc(100% - 20px);
    flex-grow: 1;
    flex-direction: column;
    padding: 5px 10px;
    overflow: hidden;
    .panel-container {
      border: 1px solid #aaa;
      box-shadow: 1px 2px 2px 1px #e6e6e6;
      background: #fff;
      border-top: none;
      border-left: none;
      @media screen and (max-width: 450px) {
        &.top-panel {
          flex-direction: column;
          height: 400px !important;
          user-avatar {
            margin: 0 !important;
          }
        }
      }
      &.top-panel {
        height: 200px;
        display: flex;
        align-items: center;
        padding: 5px 10px;
        justify-content: center;
        user-avatar {
          display: block;
          width: 180px;
          min-width: 180px;
          height: 180px;
          padding: 0;
          margin-right: 20px;
        }
        .form-item {
          .mat-form-field {
            width: 100%;
          }
        }
      }
      &.info-panel {
        flex-grow: 1;
        min-height: 200px;
        margin-top: 10px;
        padding: 10px;
        overflow: auto;
        display: flex;
        .basic-info {
          flex-grow: 1;
          min-width: 200px;
          padding: 0 10px;
          .mat-form-field {
            width: 100%;
            textarea {
              resize: none;
              line-height: 1.3;
              padding: 5px;
            }
          }
          tag-input {
            max-height: 150px;
            overflow: auto;
          }
        }
        .map-location-viewer {
          width: 55%;
          min-width: 55%;
        }
      }
    }
  }
}
