<div class="page-layout blank p-24">
  <h2>Google Places Search</h2>
</div>
<div class="page-content">
  <form name="frm" [formGroup]="frm" (ngSubmit)="!loading && searchPlace()" class="search-container">
    <div class="filter-container">
      <mat-radio-group formControlName="options" (change)="onSelectionChanged($event)">
        <mat-radio-button value="1">Your current location</mat-radio-button>
        <mat-radio-button value="2">Manual entered location</mat-radio-button>
        <mat-radio-button value="3">Manual entered address</mat-radio-button>
      </mat-radio-group>
      <div class="form-inline" *ngIf="frm.controls['options'].value === '2'">
        <mat-form-field>
          <input type="number" min="-90" max="90" matInput placeholder="Latitude"
                 formControlName="Latitude">
          <mat-error *ngIf="formErrors.Latitude.required">
            Latitude is required
          </mat-error>
          <mat-error *ngIf="formErrors.Latitude.min || formErrors.Latitude.max">
            Latitude should between -90 and 90.
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input type="number" min="-180" max="180" matInput
                 placeholder="Longitude" formControlName="Longitude">
          <mat-error *ngIf="formErrors.Longitude.required">
            Longitude is required
          </mat-error>
          <mat-error *ngIf="formErrors.Longitude.max || formErrors.Longitude.min">
            Longitude should between -180 and 180.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-inline address" [class.hidden]="frm.controls['options'].value !== '3'">
        <input type="text" id="autocomplete">
      </div>
      <mat-form-field class="keyword">
        <input type="text" formControlName="keyword" matInput placeholder="Type keyword for searching">
      </mat-form-field>
      <mat-form-field class="radius">
        <input type="number" matInput="" placeholder="Radius (m)" formControlName="radius">
      </mat-form-field>
      <mat-form-field class="category">
        <mat-select placeholder="Search for categories" formControlName="category">
          <mat-option value="">All</mat-option>
          <mat-option *ngFor="let item of placeTypes" [value]="item.id">{{item.value}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <button mat-button mat-raised-button color="primary"
            [disabled]="loading || (frm.controls['options'].value === '2'? frm.invalid: !frm.controls['radius'].value)"
            type="submit">
      <mat-icon>search</mat-icon>
      Search
    </button>
  </form>
  <div class="result-count" *ngIf="!loading && hasSearch">
    Total results found: {{total}} place(s).
  </div>
  <div class="table-container mat-elevation-z8">
    <div class="top-table">
      <div class="button-action">
        <button mat-button mat-raised-button color="primary" (click)="saveSelectedCheckingPlaces()"
                [disabled]="savingCheckingPlaces || !listCheckingPlaces.length">{{savingCheckingPlaces? 'Saving':
          'Save'}} Selected
          Places ({{listCheckingPlaces.length || 0}})
        </button>
        <a mat-button [routerLink]="['/auth','saved-places']">Saved Places</a>
      </div>
      <mat-paginator [length]="total"
                     [pageSize]="20"
                     [pageIndex]="pageIndex"
                     [hidePageSize]="true"
                     (page)="changePage($event.pageIndex)">
      </mat-paginator>
    </div>
    <table class="mat-table">
      <colgroup>
        <col width="40">
        <col>
        <col>
        <col width="150">
      </colgroup>
      <thead>
      <tr class="mat-header-row">
        <th></th>
        <th class="mat-cell mat-header-cell">Name</th>
        <th class="mat-cell mat-header-cell">Location</th>
        <!--<th class="mat-cell mat-header-cell">Types</th>-->
        <th class="mat-cell mat-header-cell"></th>
      </tr>
      </thead>
      <tbody *ngFor="let row of places">
      <tr class="mat-row">
        <td class="text-center" [attr.rowspan]="row.types.length?2:1">
          <input #test class="star" [disabled]="row.disableChange" type="checkbox" [checked]="row.isChecked"
                 (change)="toggleCheckbox($event, row)"
                 title="bookmark page">
          <!--<mat-checkbox (change)="checkChange(row.id)"></mat-checkbox>-->
        </td>
        <td class="mat-cell place-name">{{row.name}}</td>
        <td class="mat-cell text-center" [attr.rowspan]="row.types.length?2:1">{{row.vicinity}}</td>

        <td class="text-center button-action" [attr.rowspan]="row.types.length?2:1">
          <button (click)="showModalDetail(row)" mat-button color="primary" mat-raised-button="">
            Detail
          </button>
        </td>
      </tr>
      <tr class="tag-list" *ngIf="row.types.length">
        <td class="mat-cell">
          <span class="label-tag" *ngFor="let sub of row.types">{{sub}}</span>
        </td>
      </tr>
      </tbody>
      <tbody class="no-data" *ngIf="!places?.length">
      <tr>
        <td colspan="4" class="text-center">
          {{loading?'Searching...': 'No Places'}}
        </td>
      </tr>
      </tbody>
    </table>

    <mat-paginator [length]="total"
                   [pageSize]="20"
                   [pageIndex]="pageIndex"
                   [hidePageSize]="true"
                   (page)="changePage($event.pageIndex)">
    </mat-paginator>
  </div>
</div>
