// Top bar configure
$topbar-header-color: #3a4148;
$topbar-header-textcolor: #fff;

// Side bar configure
$sidebar-nav-width: 85px;
$trabble-main-color: #D37F3F;
$sidebar-child-height: 60px;
$sidebar-main-color: linear-gradient(0deg, #4A5A6C 0%, #474C53 0%, #3F454C 0%, #303841 100%);
$menu-active-color: #414A54;
// Whole app
$background-main-color: #F3F3F4;
$light-primary-text: white;
$primary-color: #ff9800;
$accent-color: #ffc857;

// Login Page
$unauth-foreground: #3F434C;
$unauth-background: url(/assets/images/Group.png)
